:root{
    --white:  #FFFFFF;
    --off-white: #FDFDFD;
    --grey-screen: #ccc9c66c;
    --lighter-grey: #CCC9C6;
    --light-grey: #C5BFBE;
    --taupe: #979D9C;
    --kahki-green: #767E71;
    --beige: #AB927B;
    --yellow: #F7CE8C;
    --orange:#D87D51;
    --blush: #E8C2D7;
    --wine: #713436;
    --dark-grey: #272727c4;
    --black: #070604;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    line-height: 1.0;
}

body{
    background: var(--black);

}

main{
    background: var(--off-white);
    width: auto;
    height: auto;
    margin: 7px 2px 25px 2px;
    padding: 15px 20px 0 25px;
    border-bottom: 2px solid var(--lighter-grey);
}

nav{
    display: flex;
    justify-content: space-between;
}

.top_nav_links{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    text-decoration: none;
    /* text-shadow: 2 2 0 black; */
}

.top_nav_links:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.top_nav_links:hover {
    color: var(--grey-screen);
    text-decoration: none;
}

.top_nav_links:active {
    color: var(--beige);
    text-decoration: none;
}

#contact_link{
    color: var(--lighter-grey);
    font-size: 5px;
}

#about_link{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    width: 50px;
    padding: 1px 0 1px 0;
}

#header_txt_wrap{
    height: fit-content;
    width: 150px;
    padding: 20px 0 0 0;
}

#header_prefix{
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 35.5px;
    right: 82px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff4fa;
    letter-spacing: -0.5px;
    text-shadow: 0.5px 0.5px 0.1px #0706040e;
}

#header_txt{
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 19.5px;
}

#header_span1{
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 17.5px;
}

#header_span2{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 17.5px;
}

#about_content_wrapper{
    display: flex;
}

#about_sec{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#about_intro_wrapper{
    display: flex;
    flex-direction: column;
    width: 100px;
}

#about_intro{
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    font-weight: 500;
    color: var(--dark-grey);
    padding: 0;
}

#about_intro_tag{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    padding-top: 1.5px;
    padding-bottom: 20px;
}

#about_txt_wrapper{
    display: flex;
    flex-direction: column;
    width: 70px;
    padding-right: 3px;
    padding-top: 3px;
}

.about_txt,
#about_sec_link{
    font-family: 'Roboto', sans-serif;
    font-size: 4.5px;
    font-weight: 500;
    color: var(--dark-grey);
    line-height: 6px;
    text-decoration: none;
}

.about_txt{
    width: 100%;
}

#about_blockquote{
    position: relative;
    top: 5px;
}

#headshot_sec{
    width: auto;
    height: 35px;
    margin-bottom: 5px;
}
/* global card class */
/* .main_img{
    padding: 0;
    margin-top: 10px;
} */

/* local card id */
#headshot_img{
    background-image: url("images/brand-headshot.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right 0% bottom 75%; */
    z-index: 100;
    border: 0.25px solid #07060415;
    box-shadow: 0.5px 0.75px 1.5px #0706042a;
    width: 144px;
    height: 75.45px;
    position: relative;
    bottom: 55px;
}

#brand_content_wrapper{
    display: flex;
    justify-content: flex-end;
}

#brand_sec{
    padding-bottom: 0px;
    padding-left: 40px;
    width: 100%;
}

#brand_intro_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-left: 65px;
    width: 100%;

}

#brand_intro{
    font-family: 'Roboto', sans-serif;
    font-size: 4px;
    font-weight: 500;
    color: var(--dark-grey);
    padding: 2px;
    display: flex;
    justify-content: center;
}
#brand_txt_wrapper{
    display: flex;
    justify-content: flex-end;
    width: auto;
    float: right;
    clear: left;
}

#brand_note_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 75px;
}



#brand_title_txt{
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

#brand_txt_focus{
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    font-weight: 400;
    color: var(--dark-grey);
    /* padding: 5px; */
    width: 175px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 58px;
    line-height: 8px;
}



.brand_txt_note{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 4px;
    font-weight: 500;
    line-height: 5px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-bottom: 5px;
}

#brand_img_sec{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#brand_img{
    background-image: url("images/style3.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
    border: 0.25px solid #07060415;
    box-shadow: 0.5px 0.75px 1.5px #0706042a;
    width: 193px;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 1px;
}

@media only screen and (max-width: 280px) {
    main{
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;

    }

    #about_txt_wrapper{
    width: 60px;
    }

    .about_txt,
    #about_sec_link{
        font-size: 4.5px;
        font-weight: 400;
        line-height: 5.75px;
    }

    #headshot_img{
        width: 144px;
        height: 75.45px;
        position: relative;
        bottom: 90px;
    }

    #headshot_sec{
        height: 30px;
        margin-bottom: 0px;
    }

    #brand_txt_focus{
        padding-right: 10px;
        padding-left: 15px;
        width: 115px;
    }

    .brand_txt_note{
        padding-left: 5px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 360px) {
    main{
        height: auto;
        margin: 45px 10px 25px 10px;
        width: auto;
    }

    #about_txt_wrapper{
        display: flex;
        flex-direction: column;
        width: 70px;
        padding-right: 5px;
    }

    #headshot_sec{
        margin-bottom: 18px;
    }

    #headshot_img{
        width: 172.8px;
        height: 90.54px;
    }

    #brand_sec{
        padding-left: 100px;
        padding-right: 10px;
    }

    #brand_intro_wrapper{
        padding-left: 23px;
    }

    #brand_txt_focus{
        padding-right: 10px;
        padding-left: 0px;
        width: 115px;
    }

    #brand_note_wrapper{
        width: 65px;
    }

    .brand_txt_note{
        padding-left: 5px;
        padding-right: 5px;
    }

    #brand_img{
        width: 190px;
        height: 130px;
    }
}

@media only screen and (min-width: 375px) {
    main{
        height: auto;
        margin: 45px 10px 25px 10px;
        width: auto;
    }

    #about_txt_wrapper{
        display: flex;
        flex-direction: column;
        width: 70px;
    }

    #headshot_sec{
        margin-bottom: 18px;
    }

    #headshot_img{
        width: 172.8px;
        height: 90.54px;
    }

    #brand_sec{
        padding-left: 115px;
    }

    #brand_intro_wrapper{
        padding-left: 23px;
    }

    #brand_txt_focus{
        padding-right: 5px;
        padding-left: 0px;
        width: 115px;
    }

    #brand_note_wrapper{
        width: 65px;
    }

    .brand_txt_note{
        padding-left: 5px;
        padding-right: 3px;
    }

    #brand_img{
        width: 190px;
        height: 130px;
    }
}

@media only screen and (min-width: 411px) {
    main{
        margin: 50px 10px 40px 10px;
    }

    #headshot_img{
        width: 192px;
        height: 100.6px;
    }

    #about_txt_wrapper{
        width: 77px;
        padding-right: 5px;
    }

    #brand_sec{
        padding-left: 135px;
    }

    #brand_intro_wrapper{
        padding-left: 20px;
    }

    #brand_txt_focus{
        padding-right: 20px;
        padding-left: 0px;
        width: 140px;
    }

    #brand_note_wrapper{
        width: 67px;

    }

    .brand_txt_note{
        padding-left: 0px;
        padding-right: 5px;
    }

    #brand_img{
        width: 220px;
        height: 150px;
    }
}

@media only screen and (min-width: 425px) {
    main{
        margin: 20px 30px 5px 30px;
    }

    #headshot_img{
        width: 172.8px;
        height: 90.54px;
    }

    #about_txt_wrapper{
        display: flex;
        flex-direction: column;
        width: 70px;
    }

    #brand_sec{
        padding-left: 125px;
    }

    #brand_intro_wrapper{
        padding-left: 53px;
    }

    #brand_txt_focus{
        padding-right: 15px;
    }

    #brand_note_wrapper{
        width: 67px;

    }

    #brand_img{
        width: 220px;
        height: 145px;
    }
}

@media only screen and (min-width: 540px) {
    body{
        display: flex;
        justify-content: space-between;
    }

    main{
        height: auto;
        padding: 20px 27px 0 27px;
        margin-top: 85px;
        margin-left: 15px;
        width: 70%;
    }

    #headshot_sec{
        height: 30px;
    }

    #brand_sec{
        padding-bottom: 10px;
    }

    #brand_intro_wrapper{
        padding-bottom: 22px;
        padding-left: 30px;
    }

    #brand_txt_focus{
        width: 125px;
    }

    .brand_txt_note{
        padding: 0px 10px 5px 0px;
    }

    #brand_img_sec{
        margin-top: 5px;
    }

    #brand_img{
        width: 205px;
        height: 130px;
    }
}

@media only screen and (min-width: 768px) {
    body{
        display: flex;

    }

    main{
        width: auto;
        height: auto;
        padding: 20px 27px 0 27px;
        margin-top: 130px;
        margin-left: 20px;
        margin-bottom: 5px;

    }

    .top_nav_links{
    font-size: 6px;
    }

    #contact_link{
    font-size: 6px;
    }

    #about_link{
        font-size: 5.25px;
        width: 62px;
    }

    #header_txt_wrap{
        width: 205px;
        padding-top: 33px;
    }

    #header_prefix{
        position: relative;
        bottom: 40.75px;
        right: 111px;
        font-size: 18.5px;
    }

    #header_txt{
        font-size: 27px;
        line-height: 22px;
        letter-spacing: -0.5px;
    }

    #header_span1{
        font-size: 23px;
        line-height: 20px;
    }

    #header_span2{
        font-size: 27px;
        line-height: 20px;
    }

    #about_sec{
        padding-top: 7px;
    }

    #about_intro{
        font-size: 7px;
    }

    #about_intro_tag{
        font-size: 5.25px;
    }

    #about_txt_wrapper{
        width: 85px;
        padding-top: 10px;
    }

    .about_txt,
    #about_sec_link{
        font-size: 6px;
        line-height: 7.5px;
    }

    #headshot_sec{
        margin-bottom: 0px;
    }

    #headshot_img{
        width: 249.6px;
        height: 130.78px;
        position: relative;
        bottom: 110px;
    }

    #brand_sec{
        padding-left: 115px;
        padding-top: 25px;
        padding-bottom: 10px;
        /* padding-right: 30px; */
    }

    #brand_intro_wrapper{
        padding-left: 75px;
        padding-bottom: 25px;
    }

    #brand_intro{
        font-size: 5.5px;
        padding-bottom: 8px;
    }

    #brand_title_txt{
        font-size: 18px;
    }

    #brand_txt_focus{
        font-size: 7.5px;
        line-height: 10.5px;
        padding-left: 20px;
        padding-right: 8px;
        width: 190px;
    }

    #brand_note_wrapper{
        width: 100px;
    }

    .brand_txt_note{
        font-size: 6px;
        line-height: 7.5px;
        padding-left: 13px;
        padding-right: 7px;
    }

    #brand_img{
        width: 280px;
        height: 190px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1024px) {
    body{
        display: flex;
        justify-content: space-evenly;
    }

    main{


    }

    .top_nav_links{
    font-size: 8px;
    }

    #contact_link{
    font-size: 8px;
    }

    #about_link{
        font-size: 7.25px;
        width: 90px;
    }

    #header_txt_wrap{
        width: 290px;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    #header_prefix{
        position: relative;
        bottom: 61px;
        right: 157px;
        font-size: 26px;
    }

    #header_txt{
        font-size: 32px;
        line-height: 28px;
        letter-spacing: -0.5px;
    }

    #header_span1{
        font-size: 31px;
        line-height: 26px;
    }

    #header_span2{
        font-size: 34px;
        line-height: 26px;
    }

    #about_sec{
        padding-top: 5px;
    }

    #about_intro{
        font-size: 8px;
        padding-top: 5px;
        width: 120px;
    }

    #about_intro_tag{
        font-size: 7.5px;
    }

    #about_txt_wrapper{
        padding-top: 5px;
        width: 110px;
    }

    .about_txt,
    #about_sec_link{
        font-size: 6.6px;
        line-height: 8.9px;
    }

    #headshot_img{
        width: 278.4px;
        height: 145.87px;
        position: relative;
        bottom: 120px;
    }

    #headshot_sec{
        height: 40px;
    }

    #brand_sec{
        padding-left: 135px;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    #brand_intro_wrapper{
        padding-left: 65px;
        padding-bottom: 25px;
    }

    #brand_intro{
        font-size: 6px;
        padding-bottom: 8px;
        padding-top: 20px;
    }

    #brand_title_txt{
        font-size: 22px;
    }

    #brand_txt_focus{
        font-size: 8.5px;
        font-weight: 500;
        line-height: 11.5px;
        padding-left: 25px;
        padding-right: 8px;
        width: 210px;
    }

    #brand_note_wrapper{
        width: 105px;
    }

    .brand_txt_note{
        font-size: 6.5px;
        line-height: 8.9px;
        padding-left: 13px;
        padding-right: 5px;
    }

    #brand_img{
        width: 315px;
        height: 240px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 1280px) {
    main{

    }

    #header_txt_wrap{
        padding-top: 30px;
    }

    #header_txt{
        font-size: 30px;
    }

    #header_span1{
        font-size: 29px;
    }

    #header_span2{
        font-size: 32px;
    }

    #about_intro{
        padding-top: 0px;
    }

    #about_txt_wrapper{
        padding-top: 5px;
    }

    .about_txt{
        font-size: 6px;
    }

    #headshot_img{
        position: relative;
        bottom: 125px;
        width: 249.6px;
        height: 130.78px;
    }

    #brand_sec{
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #brand_txt_focus{
        padding-left: 10px;
        padding-right: 5px;
        font-size: 7.5px;
        width: 180px;
    }

    #brand_note_wrapper{
        width: 115px;
    }

    .brand_txt_note{
        font-size: 5.5px;
    }

    #brand_img{
        width: 300px;
        height: 175px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    main{
    }

    #about_txt_wrapper{
        width: 105px;
    }

    #headshot_sec{
        height: 50px;
    }

    #brand_txt_focus{
        padding-left: 0px;
        padding-right: 10px;
        font-size: 7.5px;
        width: 195px;
    }

    #brand_note_wrapper{
        width: 110px;
    }

    .brand_txt_note{
        font-size: 5.5px;
    }

    #brand_img{
        width: 320px;
        height: 195px;
        margin-top: 15px;
    }

}

@media only screen and (min-width: 2560px) {

}
