:root{
    --white:  #FFFFFF;
    --off-white: #FDFDFD;
    --lightest-grey: #ccc9c66c;
    --lighter-grey: #CCC9C6;
    --light-grey: #C5BFBE;
    --taupe: #979D9C;
    --kahki-green: #767E71;
    --beige: #AB927B;
    --yellow: #F7CE8C;
    --orange:#D87D51;
    --blush: #E8C2D7;
    --wine: #713436;
    --dark-grey: #272727c4;
    --black: #070604;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    line-height: 1.0;
}

body{
    background: var(--black);
}

main{
    background: var(--off-white);
    width: 314px;
    height: 100%;
    margin: 20px 3px 20px 3px;
    padding: 20px 30px 20px 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.top_nav_links{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    text-decoration: none;
    /* text-shadow: 2 2 0 black; */
}

.top_nav_links:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.top_nav_links:hover {
    color: var(--lightest-grey);
    text-decoration: none;
}

.top_nav_links:active {
    color: var(--beige);
    text-decoration: none;
}

#contact_link{
    color: var(--lighter-grey);
    font-size: 5px;
}

#about_link{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    width: 51px;
    padding: 1px 0 1px 0;
}

#header_txt_wrap{
    width: 175px;
    padding: 15px 0 5px 0;
}

#header_prefix{
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 25px;
    right: 92px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: var(--lightest-grey);
    letter-spacing: -0.5px;
    text-shadow: 0.5px 0.5px 0.1px #0706040e;
}

#header_txt{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

#about_sec{
    display: flex;
    justify-content: space-between;
    width: 270px;
}

#about_content_wrapper{
    display: flex;
}

#about_intro_wrapper{
    display: flex;
    flex-direction: column;
    width: 100px;
}

#about_txt_wrapper{
    display: flex;
    flex-direction: column;
    width: 60px;
}

#about_intro{
    font-family: 'Roboto', sans-serif;
    font-size: 7.5px;
    font-weight: 500;
    color: var(--dark-grey);
    padding: 0;
}

#about_intro_tag{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    padding-top: 1.5px;
    padding-bottom: 17px;
}

#about_txt,
#about_sec_link{
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    color: var(--dark-grey);
    line-height: 5.5px;
    text-decoration: none;
}

.card_img{
    padding: 0;
    margin-top: 10px;
}

#headshot_sec{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

#headshot_img{
    background-image: url("images/brand-headshot.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right 0% bottom 75%; */
    z-index: 100;
    border: 0.25px solid #07060415;
    box-shadow: 0.5px 0.75px 1.5px #0706042a;
    width: 163.2px;
    height: 85.51px;
}

#brand_content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#brand_sec{
    display: flex;
    justify-content: flex-end;
}

#brand_column_wrapper{
    display: flex;
    flex-direction: column;
}

#brand_intro_wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

#brand_intro{
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    color: var(--dark-grey);
    padding: 5px;
    display: flex;
    justify-content: center;
}

#brand_title_txt{
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

#brand_note_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60px;
}

#brand_txt_focus{
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    font-weight: 400;
    color: var(--dark-grey);
    /* padding: 5px; */
    width: 115px;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    padding-left: 12px;
}

.brand_txt_note{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 4px;
    font-weight: 500;
    line-height: 5.5px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

#brand_img_sec{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#brand_img{
    background-image: url("images/style.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
    border: 0.25px solid #07060415;
    box-shadow: 0.5px 0.75px 1.5px #0706042a;
    width: 163.2px;
    height: 85.51px;
}

@media only screen and (min-width: 425px) {
    main{
    position: relative;
    top: 125px;
    left: 80px;
    }

    #header_txt_wrap{
        width: px;
    }

    #header_txt{
    font-size: 20px;
    }

    /* #headshot_sec{
    width: 150px;
    height: 150px;
    }

    .card_img{
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    position: relative;
    } */

}
