:root{
    --white:  #FFFFFF;
    --off-white: #FDFDFD;
    --grey-screen: #ccc9c66c;
    --lighter-grey: #CCC9C6;
    --light-grey: #C5BFBE;
    --taupe: #979D9C;
    --kahki-green: #767E71;
    --beige: #AB927B;
    --yellow: #F7CE8C;
    --orange:#D87D51;
    --blush: #E8C2D7;
    --wine: #713436;
    --dark-grey: #272727c4;
    --black: #070604;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--dark-grey);
}

#project-info_sec{
    background: var(--black);
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #project-info_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
}

.proj-info_links{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

#link_card1{
    background: var(--taupe);

}

#link_card2{
    background: var(--lighter-grey);
}

#link_card3{
    background: var(--light-grey);
}

#link_resume{
    background: var(--orange);
}

#link_contact{
    background: var(--beige)
}

#link_home{
    background: var(--kahki-green);
} */

#cards_wrapper{
    display: flex;
    flex-direction: column;

}

.proj-info_cards{
    width: auto;
    height: auto;
    margin: 10px 5px 5px 5px;
    background: var(--off-white);
    /* border-bottom: 2px var(--);*/
}

/* nav{
    display: flex;
    justify-content: space-between;
}

.top_nav_links{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    text-decoration: none;
}

.top_nav_links:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.top_nav_links:hover {
    color: var(--lightest-grey);
    text-decoration: none;
}

.top_nav_links:active {
    color: var(--beige);
    text-decoration: none;
}

#contact_link{
    color: var(--lighter-grey);
    font-size: 5px;
}

#about_link{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    width: 51px;
    padding: 1px 0 1px 0;
} */


/* GLOBAL STYLES */
.card_sec{
    display: flex;
    justify-content: space-between;

}

.card_header_wrapper{
    position: relative;
    width: fit-content;
    height:fit-content;
    padding: 5px;
}

.card_label_txt{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 0px;
    /* line-height: 19.5px; */
}

.card_label_tag{
    font-size: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    padding: 0px;
}

.card_content_txt{
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    font-weight: 300;
    /* padding: 5px; */
    min-width: 40px;
    max-width: 100px;
    line-height: 7.5px;
}

.card_img{
    height: auto;
    width: auto;
}

.column_wrap{
    display: flex;
    flex-direction: column;
}


/* HOME CARD */
#home_card{
    width: fit-content;
}

#home_sec .card_label_txt,
#home_sec .card_content_txt{
    color: #7C1300;
}

#home_header_txt{
    padding-left: 7px;
    padding-right: 20px;
    margin-top: 10px;

}

#home_txt1{
    padding: 2px 7px 0px 7px;
    width: 100px;
    line-height: 10px;
    font-weight: 100;
}

#home_txt2{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 80px;
    line-height: 5px;
    font-size: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

#home_img{
    background-image: url("images/portfolio2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 177.5px;
    margin-right: 10px;

}

#home_img2{
    background-image: url("images/content-img-women-family.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 87px;
    margin-left: 10px;

}

/* CONTACT CARD */
#contact_card{
    width: fit-content;
    height: auto;
}

#contact_sec .card_label_txt,
#contact_sec .card_label_tag,
#contact_sec .card_content_txt{
    color: #074b65;
}

#contact_sec{
    display: flex;
    justify-content: space-evenly;
}

#contact_img{
    background-image: url("images/wedding4-color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 135px;
    height: 50px;
    margin-top: 5px;
}

#contact_txt_wrapper1{
    width: 135px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#contact_txt_wrapper2{
    padding: 0;
    height: auto;
    width: 140px;
}

#contact_header_txt{
    padding: 12px 2px 2px 32px;

}

#contact_header_tag{
    font-size: 13px;
    width: 100%;
    padding-left: 50px;
}

.contact_txt{
    text-decoration: none;
}

#contact_txt1{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    width: 80px;
    height: auto;
    line-height: 30px;
    display: flex;
}

#contact_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact_options .contact_txt{
    line-height: 21px;
    display: flex;
    margin-left: 13px;
    color: #13767f;
    font-weight: 400;
}

a.contact_txt:hover{
    color: #33d8e7;
    font-size: 7.5px;
    font-weight: 500;
    transition: ease-in-out;
}

/* EDUCATION CARD */
#resume_card{
    display: flex;
    width: 220px;
}

#education_sec{
    display: flex;
    width: 140px;
}

#edu_header_txt{
    padding-left: 30px;
    padding-right: 20px;
}


#skills_sub_sec{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 25px;
}

#skills_txt_wrapper{
    padding-top: 5px;
    width: 110px;
    height: 40px;
    display: flex;
}

#skills_header{
    padding-left: 20px;
}

.skills_txt{
    padding-bottom: 2px;
}

#university_txt{
    max-width: 50px;
    font-size: 4.5px;
    line-height: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* COVIDwoke CARD */
#proj_card1{
}

.row_wrap{
    display: flex;
    max-width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

#covid_txt_wrap1{
    width: 50px;
    font-size: 4px;
    padding-left: 10px;
}

#covid_txt_wrap2{
    width: 50px;
    font-size: 4px;
    padding-left: 10px;
}

#covid_header_wrap{
    padding: 10px 5px 10px 25px;
}

#covid_tag{
    font-size: 7px;
    padding-top: 10px;
    width: 46px;
    padding-left: 5px;
}

#covid_txt_wrap3{
    width: 65px;
    font-size: 4px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#covid_txt_wrap4{
    width: 60px;
    font-size: 4px;
    padding-left: 10px;
}

#proj1_img{
    background-image: url("images/covid-woke-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    max-width: 100px;
    min-height: 90px;
}

#proj1_img2{
    background-image: url("images/covid-woke-results.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 95px;
    margin-left: 15px;
}


/* WEATHER DASH CARD */
#proj_card2{

}

#weather_tag_wrapper{
    width: 90px;
    padding: 30px 15px 30px 15px;
}

#weather_header{
    padding-left: 16px;
    padding-top: 10px;
}

#proj2_img{
    background-image: url("images/weatherDash.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 85px;
    margin-top: 30px;
}

#weather_content_txt{
    width: 70px;
    padding: 58px 15px 25px 15px;
    line-height: 6px;
}


/* CODE QUIZ CARD */
#proj_card3{

    width: fit-content;
}

#quiz_header_wrap{
    width: 70px;
}

#quiz_tag{
    padding-bottom: 15px;
}

#quiz_content1{
    width: 50px;
    padding-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 6px;
}

#quiz_content2{
    width: 40px;
    line-height: 6px;
}

#quiz_label{
    font-size: 16px;
    padding-left: 19px;
    padding-top: 7px;
    padding-bottom: 10px;
}

#proj3_img{
    background-image: url("images/quiz_load.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 116px;
}

/*@media only screen and (max-width: 280px) {
    #project-info_sec{
        width: 100%;
    }

    #covid_header_wrap{
    padding: 10px 0px 10px 10px;
    }

    #covid_txt_wrap3{
        padding-left: 7px;
        font-size: 4px;
        width: 55px;
    }

    #covid_txt_wrap4{
        padding-left: 5px;
        font-size: 4px;
        width: 55px;
    }

    #covid_header{
        font-size: 15px;
    }

    #proj1_img2{
    margin-left: 5px;
    }

    #proj1_img{
        max-width: 100px;
        min-height: 90px;
    }

    #proj1_img2{

        width: 105px;
        height: 95px;
        margin-left: 5px;
    }

    #weather_tag_wrapper{
        width: 90px;
        padding: 30px 15px 30px 15px;
    }

    #weather_header{
        padding-left: 8px;
        padding-top: 28px;
    }

    #proj2_img{
        background-image: url("images/weatherDash.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 140px;
        height: 75px;
        margin-top: 30px;
    }

    #weather_content_txt{
        width: 70px;
        padding: 50px 15px 25px 15px;
        line-height: 6px;
    }

}

@media only screen and (min-width: 375px) {
    #project-info_sec{
        display: flex;
        justify-content: center;
        margin: 0 10px 0 10px;
    }

    .proj-info_cards{

        margin: 10px 0 5px 0;
    }

    /* COVIDwoke CARD */
    /*#covid_tag{
        width: 80px;
        line-height: 8px;
    }

    #covid_txt_wrap3{
        padding-left: 15px;
        padding-bottom: 10px;
        line-height: 5px;
        font-size: 4.5px;
    }

    #covid_txt_wrap4{
        line-height: 5px;
        font-size: 4.5px;
    }

    #weather_tag{
        font-size: 12px;
    }

    #weather_tag_wrapper{
        padding-bottom: 25px;
    }

    #weather_content_txt{
        font-size: 5px;
        line-height: 7px;
        width: 80px;
    }

    #proj2_img{
        width: 175px;
        height: 95px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 425px) {

    /* GLOBAL */
    /*#project-info_sec{
        margin-left: 30px;
        margin-right: 30px;
    }

    .proj-info_cards{
        width: fit-content;
    }

    .card_label_txt{
        font-size: 20px;
    }

    .card_content_txt{
        font-size: 5.25px;
        line-height: 6px;
    }

    /* HOME CARD */
    /*#home_header_txt{
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #home_img{
        width: 100px;
        height: 158px;
    }

    #home_img2{
        width: 105px;
        height: 72px;
        background-position: left;
    }

    #home_txt{
        padding-right: 20px;
        width: 100px;
    }

    /* CONTACT CARD */
    /* none */

    /* EDUCATION CARD */
    /*#edu_header_txt{
        padding-top: 15px;
    }

    #skills_sub_sec{
        padding-top: 15px;
    }

    /* COVIDwoke CARD */
    /*#proj1_img{
        margin-top: 10px;
    }

    #covid_header_wrap{
        padding-top: 40px;
    }

    /* WEATHER DASH CARD */
    /*#weather_header{
        padding-left: 15px;
        padding-top: 20px;
    }

    #proj2_img{
        margin-top: 16px;
    }

    #weather_content_txt{
        font-size: 6px;
        width: 85px;
        padding: 35px 20px 25px 20px;
        line-height: 8px;
    }

    /* CODE QUIZ CARD */
    /*#quiz_tag{
        padding-top: 10px;
        padding-left: 5px;
    }

    #quiz_content2{
        padding-left: 7px;
        width: 60px;
        line-height: 8px;
    }

    #quiz_content1{
        margin-left: 20px;
        margin-right: 20px;
        line-height: 6px;
    }

    #quiz_label{
        padding-left: 25px;
    }

    #proj3_img{
        margin-top: 10px;
        height: 120px;
    }
}

@media only screen and (min-width: 540px) {
    /* #project-info_sec{
        display: flex;
        justify-content: center;
    }

    .proj-info_cards{

    } */

}

/*@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 860px) {

}

@media only screen and (min-width: 920px) {

}

@media only screen and (min-width: 1024px) {
    #project-info_sec{

    }

    .proj-info_cards{


    }
}

@media only screen and (min-width: 1280px) {
    #project-info_sec{

    }

    .proj-info_cards{

    }
}

@media only screen and (min-width: 1440px) {
    #project-info_sec{

    }
}

@media only screen and (min-width: 2560px) {

}
*/
