:root{
    --white:  #FFFFFF;
    --off-white: #FDFDFD;
    --grey-screen: #ccc9c66c;
    --lighter-grey: #CCC9C6;
    --light-grey: #C5BFBE;
    --taupe: #979D9C;
    --kahki-green: #767E71;
    --beige: #AB927B;
    --yellow: #F7CE8C;
    --orange:#D87D51;
    --blush: #E8C2D7;
    --wine: #713436;
    --dark-grey: #272727c4;
    --black: #070604;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--dark-grey);
}

#project-info_sec{
    background: var(--black);
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #project-info_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
}

.proj-info_links{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

#link_card1{
    background: var(--taupe);

}

#link_card2{
    background: var(--lighter-grey);
}

#link_card3{
    background: var(--light-grey);
}

#link_resume{
    background: var(--orange);
}

#link_contact{
    background: var(--beige)
}

#link_home{
    background: var(--kahki-green);
} */

#cards_wrapper{
    display: flex;
    flex-direction: column;

}

.proj-info_cards{
    width: auto;
    height: auto;
    margin: 10px 5px 5px 5px;
    /* border-bottom: 2px var(--);*/
}

/* nav{
    display: flex;
    justify-content: space-between;
}

.top_nav_links{
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 500;
    text-decoration: none;
}

.top_nav_links:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.top_nav_links:hover {
    color: var(--lightest-grey);
    text-decoration: none;
}

.top_nav_links:active {
    color: var(--beige);
    text-decoration: none;
}

#contact_link{
    color: var(--lighter-grey);
    font-size: 5px;
}

#about_link{
    color: var(--lighter-grey);
    font-size: 4.25px;
    font-weight: 400;
    width: 51px;
    padding: 1px 0 1px 0;
} */


/* GLOBAL STYLES */
.card_sec{
    display: flex;
    justify-content: space-between;

}

.card_header_wrapper{
    position: relative;
    width: fit-content;
    height:fit-content;
    padding: 5px;
}

.card_label_txt{
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 0px;
    /* line-height: 19.5px; */
}

.card_label_tag{
    font-size: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    padding: 0px;
}

.card_content_txt{
    font-family: 'Roboto', sans-serif;
    font-size: 4.25px;
    font-weight: 400;
    /* padding: 5px; */
    min-width: 40px;
    max-width: 100px;
    line-height: 5.5px;
}

.card_img{
    height: auto;
    width: auto;
}

.column_wrap{
    display: flex;
    flex-direction: column;
}


/* HOME CARD */
#home_card{
    background: var(--light-grey);
    width: fit-content;
}

#home_header_txt{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

#home_txt{

    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85px;
}

#home_img{
    background-image: url("images/portfolio2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 142px;

}

#home_img2{
    background-image: url("images/wedding4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 72px;

}

/* CONTACT CARD */
#contact_card{
    background: var(--lighter-grey);
    width: fit-content;
}

#card_sec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact_txt_wrapper1{
    padding: 0 0 20px 30px;
    width: 125px;
}

#contact_txt_wrapper2{
    padding: 0 0 20px 0;
    height: 75px;
    width: 140px;
}

#contact_header_txt{
    padding: 5px 2px 2px 10px;
    /* position: relative;
    left: 153px; */
}

#contact_header_tag{
    font-size: 13px;
    width: 100%;
    padding-left: 16px;
}

.contact_txt{
    text-decoration: none;
}

#contact_txt1{
    padding-top: 5px;
    /* padding-bottom: 5px; */
    font-size: 5px;
    width: 80px;
    line-height: 6px;
}

#contact_txt2{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 5px;
    width: 80px;
    line-height: 6px;
}

#contact_txt3{
    padding-top: 25px;
    line-height: 6px;
    padding-right: 7px;
}

#contact_txt4{
    padding-top: 25px;
    line-height: 6px;
    padding-left: 10px;
}

#contact_options{

    width: 125px;
    display: flex;
}

/* RESUME CARD */
#resume_card{
    background: var(--taupe);
    display: flex;
    width: 220px;
}

#education_sec{
    display: flex;
    width: 140px;
}

#edu_header_txt{
    padding-left: 30px;
    padding-right: 20px;
}


#skills_sub_sec{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 25px;
}

#skills_txt_wrapper{
    padding-top: 5px;
    width: 110px;
    height: 40px;
    display: flex;
}

#skills_header{
    padding-left: 20px;
}

.skills_txt{
    padding-bottom: 2px;
}

#university_txt{
    max-width: 50px;
    font-size: 4.5px;
    line-height: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* COVIDwoke CARD */
#proj_card1{
    background: var(--kahki-green);
}

.row{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

#covid_txt_wrap1{
    width: 50px;
    font-size: 4px;
    padding-left: 10px;
}

#covid_txt_wrap2{
    width: 50px;
    font-size: 4px;
    padding-left: 10px;
}

#covid_header_wrap{
    padding: 10px 5px 10px 25px;
}

#covid_tag{
    font-size: 7px;
    padding-top: 10px;
    width: 46px;
    padding-left: 5px;
}

#covid_txt_wrap3{
    width: 65px;
    font-size: 4px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#covid_txt_wrap4{
    width: 60px;
    font-size: 4px;
    padding-left: 10px;
}

#proj1_img{
    background-image: url("images/covid-woke-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    max-width: 100px;
    min-height: 90px;
}

#proj1_img2{
    background-image: url("images/covid-woke-results.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 95px;
    margin-left: 15px;
}


/* WEATHER DASH CARD */
#proj_card2{
    background: var(--wine);
}

#weather_tag_wrapper{
    width: 90px;
    padding: 30px 15px 30px 15px;
}

#weather_header{
    padding-left: 16px;
    padding-top: 10px;
}

#proj2_img{
    background-image: url("images/weatherDash.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 85px;
    margin-top: 30px;
}

#weather_content_txt{
    width: 70px;
    padding: 58px 15px 25px 15px;
    line-height: 6px;
}


/* CODE QUIZ CARD */
#proj_card3{
    background: var(--beige);
}

#proj3_img{
    background-image: url("images/quiz_interface.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 110px;
}


@media only screen and (min-width: 375px) {
    #project-info_sec{
        display: flex;
        justify-content: center;
        margin: 0 10px 0 10px;
    }

    .proj-info_cards{

        margin: 10px 0 5px 0;
    }
}

@media only screen and (min-width: 425px) {
    #project-info_sec{

    }

    .proj-info_cards{

    }

}

@media only screen and (min-width: 540px) {
    #project-info_sec{
        display: flex;
        justify-content: center;
    }

    .proj-info_cards{

    }

}

@media only screen and (min-width: 768px) {
    #project-info_sec{
        position: absolute;
        right: 10px;
        top: 0;
    }

    .proj-info_cards{

    }
}

@media only screen and (min-width: 860px) {
    .proj-info_cards{

    }
}

@media only screen and (min-width: 920px) {
    #project-info_sec{
        position: absolute;
        right: 10px;
        top: 0;
    }

    .proj-info_cards{

    }
}

@media only screen and (min-width: 1024px) {
    #project-info_sec{

    }

    .proj-info_cards{


    }
}

@media only screen and (min-width: 1280px) {
    #project-info_sec{

    }

    .proj-info_cards{

    }
}

@media only screen and (min-width: 1440px) {
    #project-info_sec{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
}

@media only screen and (min-width: 2560px) {

}
